html {
    height: 100%;
    margin: 0;
}
body{
    height: 100%;
    margin: 0;
}
#sceneImg{
    max-height: 50vh;
}

#sceneCard{
    flex-grow: 5;
    max-width: 70%;
    margin-left: 15%;
    /* border: purple solid 5px; */
}
